.form_container {
  padding: 4rem;
  background: linear-gradient(180deg, rgba(51, 56, 65, 0.5) 47.89%, rgba(155, 172, 187, 0.5) 114.61%);
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px #E9F5F8;
  min-width: 280px;
  max-height: 80%;
  overflow-y: scroll;

  .form--title_container {
    margin-bottom: 1rem;
  }

  .form--title {
    font-size: 1.9rem;
    font-weight: bold;
  }

  .form--subtitle {
    font-size: 1.2rem;

  }

  form {
    .form--input_container {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      .form--input-label {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .form--input {
        padding: 0.5rem;
        border: 1px solid #69B1ED;
        border-radius: 0.4rem;
        font-size: 1.3rem;

        &::placeholder {
          font-size: 1.1rem;
        }

        &:focus-visible {
          outline: none;
          box-shadow: 0px 0px 3px 1px rgba(105, 177, 237, 1);
        }
      }

      .form--input--button_container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 1rem;
      }

      .form--input--data {
        font-size: 1.4rem;
        color: #EE8F59;
        font-family: 'Heebo', sans-serif;
      }

      .form--text {
        font-size: 1.3rem;
        margin-top: 1rem;
      }

      .form--titles {
        // margin-top: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
      }

      .form--toggle_container {
        margin-top: 1rem;
      }

      .css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
        color: #71B0E5;
        border: 1px solid #71B0E5;
        font-size: 1rem;
        border-radius: 4px;
        min-width: 41px;
      }

      .css-1gjgmky-MuiToggleButtonGroup-root {
        gap: 2rem;
      }
    }
  }

  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-arrows {
    -moz-appearance: textfield;
    /* For Firefox */
  }
}