.cards-select_container {
  width: 100%;
  margin-top: 1rem;

  .cards-select--header {
    display: flex;
    justify-content: space-around;

    .cards-select--tab {
      padding: 0.5rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
    }


    .Empresario {
      background: #2D3747;
    }

    .Starter {
      background: #DB946C;
    }

    .Visionario {
      background: #8AAECC;
    }
  }

  .card-plan--header {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -1px;



    .card-plan--header--img {
      width: 3rem;
    }

    .card-plan--header--title {
      margin-top: 1rem;
      font-size: 1.3rem;
    }

    .card-plan--header--price {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  .card-plan--body {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: black;
    padding: 1.6rem;

    .card-plan--body--text {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      display: flex;
      align-content: center;
    }
  }

  .Empresario {
    background: #2D3747;
  }

  .Starter {
    background: #DB946C;
  }

  .Visionario {
    background: #8AAECC;
  }
}